<h1> Hi This Is Your Todos List </h1>

<%= form_for @todo do |t| %>
	<%= t.label :tasks %>
	<%= t.text_field :tasks %><br />

	<%= t.label :finished %>:
	<%= t.check_box :finished, {}, "true", "false" %>

	<%= t.submit %>
<% end %>